*{
    margin:0px;
    padding:0px;
    font-family: Lato;
}
/*  header section styles */
.main-header{
    background: rgba(229, 84, 115, 0.10);
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.main-head{
    color: #272727;
font-size: 80px;
padding-bottom: 20px;
}
.left-part{
    gap: 30px;
    padding-left: 30vh;
}
.right-part{
    padding-right: 20vh;
}
.main-para{
    color: rgba(39, 39, 39, 0.60);

font-size: 18px;
padding-bottom: 30px;
}
.main-btn{
    border-radius: 8px;
background: #E55473;
border: 0;
padding: 20px 43px;
color: white;
}
.main-image{
    padding-top: 20px;
}

/* Body styles */


/* section feature */

.part1{
    text-align: center;
}
.sec-head{
    color: #272727;
font-size: 40px;
padding-top: 178px;
padding-bottom: 24px;
}
.part2{
  padding-top: 100px;
  padding-bottom: 200px;
}

.box1{
  background: rgba(221, 13, 51, 0.15);
  width: 464px;
height: 538px;
  position: relative;
  border-radius: 300px 300px 0 0;
  box-shadow: 10px 10px 15px black;

}
.box2{
  background: rgba(5, 151, 160, 0.15);

}
.box3{
  background: rgba(71, 125, 17, 0.15);

}

.pink{
  position: absolute;
  bottom: 0px;
  left: 80px;
}
.container{
  display: flex;
  gap: 25px;
  justify-content: center;
}
.head{
  font-size: 24px;
  text-align: center;
  padding-top: 35px;
  padding-left: 20px;
  text-decoration: underline;
}



  /* support section */


  .support-container{
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 70px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 10px 2px 8px black;
    width: 1440px;
height: 320px;
  }
  .about{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-size: 24px;
font-weight: 600;
  }
  .support{
    padding-bottom: 128px;
  }
  .man,.flower,.sup{
    padding: 10px 10px;
  }
  .m{
    width: 88px;
height: 88px;
padding-bottom: 30px;
  }

  /* sale section */
  
  .sale-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 300px;
  }
  .info-head{
    color: #272727;
font-size: 40px;
padding-bottom: 24px;
  }
  .info-para{
padding-bottom: 32px;
font-size: 18px;
color:  rgba(39, 39, 39, 0.60);
  }
  .sale{
    background-color: rgba(229, 84, 115, 0.05);
  }
  .info{
    padding: 230px 100px 162px 0;
  }
  .off{
    color: #E55473;
  }

  /* sectio 3 insta */


  .down{
    display: flex;
   
    gap:24px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .up{
    text-align: center;
  }
  .instagram{
    padding-top: 128px;
  }
  .down-img{
    width: 342px;
height: 396px;
border-radius: 300px 0;
box-shadow: 10px 10px 10px black;

  }

  /* Section 3 */

.subscribe{
  margin-top: 128px;
  
  text-align: center;
  background-image: url('/Rectangle\ 9.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 20px;
}
.sub-in{
  width: 700px;
height: 64px;
border-radius: 8px;
background: #FFF;
border: 0;
padding-left: 15px;
}
.sub-button{
  margin-left: 10px;
  width: 150px;
height: 64px;
}


/* Payment */

.pay-img{
  width:100px;
  padding-bottom: 20px;
  
    box-shadow: 10px 10px 10px black;
    border-radius: 0px 25px 25px 0px;
}
.mod{
  padding-top: 20px;
}
.payment{
  text-align: center;
  padding-top: 138px;
 
}


.method{
  color: #E55473;
}

.feature,.support,.instagram,.payment{
  margin-left: 240px;
  margin-right: 240px;
}


/* footer */

.footer{
  margin-top:128px;
  text-align: center;
  background: #111010;
}
.flower-red{
  color:#E55473;
}
.f-head{
  padding-top: 128px;
  padding-bottom: 24px;
  color: #FFFFFF;
font-size: 48px;

font-weight: 800;

}
.f-info{
  color: rgba(255, 255, 255, 0.90);


font-size: 18px;
padding-bottom: 32px;
}
.copyright{
  color: rgba(255, 255, 255, 0.40);
font-size: 16px;
padding-bottom:128px ;
}
