*{
    margin:0px;
    padding:0px;
    font-family: Lato;
}
/*  header section styles */
.main-header{
    background: rgba(229, 84, 115, 0.10);
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.main-head{
    color: #272727;
font-size: 80px;
padding-bottom: 20px;
}
.left-part{
    gap: 30px;
    padding-left: 30vh;
}
.right-part{
    padding-right: 20vh;
}
.main-para{
    color: rgba(39, 39, 39, 0.60);

font-size: 18px;
padding-bottom: 30px;
}
.main-btn{
    border-radius: 8px;
background: #E55473;
border: 0;
padding: 20px 43px;
color: white;
}
.main-image{
    padding-top: 20px;
}

/* Body styles */


/* section 1 */
.feature{
    margin-left: 240px;
    margin-right: 240px;
}

.part1{
    text-align: center;
}
.sec-head{
    color: #272727;
font-size: 40px;
padding-top: 178px;
padding-bottom: 24px;

}
.icon{
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 200px 200px 0 0;
    padding-top: 40px;
    width: 400px;
    height: 538px;
  }
  .icon2{
    background-color:rgba(5, 151, 160, 0.15);
  }
  .icon3{
    background-color: rgba(71, 125, 17, 0.15);
  }
  .im-head{
    align-items: center;
  }
  .container{
    display: flex;
    gap: 100px;
    padding-bottom: 195px;
  }
  .head{
    text-decoration: underline;
    font-size: 14px;
  
  }
  .boxes{
    
    text-align: center;
  }


  /* support section */


  .support-container{
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .about{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-size: 24px;
  }
  .support{
    margin-left: 240px;
    margin-right: 240px;
    padding-bottom: 128px;
  }
  .man,.flower,.sup{
    padding: 10px 10px;
  }
  
  